<div>
  <strong>Title:</strong>
  <%= @article.title %>
</div>

<div>
  <strong>Text:</strong>
  <%= @article.text %>
</div>

<%= link_to 'Edit', edit_article_path(@article) %> <br>
<%= link_to 'Back to the articles', articles_path %>